<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/evaj10/index.json" />
    </packageSources>
    <!--<packageSourceCredentials>
        <github>
            <add key="Username" value="evaj10" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>-->
</configuration>